@use "../../../styles//base/mixins.scss" as *;

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  position: relative;
}

.card:hover {
  @include card-hover;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}
.info {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  @include card-title;
}

.rating {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ratingValue {
  @include card-rating;
}

.price {
  @include card-price;
}

.heart {
  @include card-heart;
}

.heart svg {
  stroke: #1c1c27;
  fill: transparent;
  transition: 0.5s;
}

.heart svg:hover {
  stroke: none;
  fill: #1c1c27;
}

.apple {
  position: absolute;
  top: 23px;
  right: 21px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.active svg {
  stroke: none;
  fill: #1c1c27;
}
