@use "../../../styles//base/mixins.scss" as *;
@use "../../../styles/base/variables.scss" as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  padding: 25px;
}

.card:hover {
  @include card-hover;
}

.cardImg {
  margin-bottom: 20px;
}

.cardDesc {
  font-weight: 600;
  color: $color-text;
  text-align: center;
}
