@use "@basestyles/base/mixins.scss" as *;

.cart {
  margin-bottom: 127px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-bottom: 30px;
}
.content {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-weight: 500;
  font-size: 30px;
  color: #101010;
}

.desc {
  font-size: 20px;
  color: #838383;
}

.btn {
  max-width: 540px;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  padding: 20px;
  background-color: #101010;
  border-radius: 20px;
  text-align: center;
}

.btn:hover {
  @include btn-hover;
}
