@use "@basestyles/base/mixins.scss" as *;

.address {
  background-color: white;
  max-width: 445px;
  width: 100%;
  padding: 23px 31px 32px 38px;
  border-radius: 30px;
  height: 555px;

  &:hover {
    @include card-hover;
    cursor: auto;
  }
}

.addressContainer {
  max-width: 376px;
  width: 100%;
}

.addressDelivery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.deliveryTitle {
  font-weight: 600;
  font-size: 17px;
  color: #000;
}

.deliveryPrice {
  font-weight: 500;
  font-size: 15px;
  color: #000;
}

.addressMap {
  height: 146px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 375px;
  width: 100%;
}

.addressForm {
  display: flex;
  flex-direction: column;
}

.addressInfo {
  display: flex;
  margin-bottom: 16px;
}

.infoImg {
  margin-right: 12px;
}

.infoText {
  font-weight: 500;
  font-size: 15px;
  color: #000;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.fieldInner {
  position: relative;
  width: 100%;
}

.input {
  @include input-style;
  width: 100%;
}

.cityInput {
  cursor: pointer;
}

.streetInput {
  width: 100%;
}

.citySelect {
  appearance: none;
}

.isPlaceholder {
  color: #838383;
}

.addressCityBtn {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: #d6d6d6;
  transition: transform 0.3s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}

.dropdown {
  margin-top: 5px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 26px;
  border-radius: 0px 0px 15px 15px;
  background-color: #d6d6d6;
  max-height: 185px;
  overflow-y: auto;
}

.dropdownItem {
  padding-left: 14px;
  margin-bottom: 5px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    color: #ffa542;
  }
}

.inputBtn {
  position: absolute;
  right: 14px;
  bottom: 13px;
  background-color: #d6d6d6;
}

.addressRow {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}

.houseInput {
  @include input-style;
  width: 100%;
}

.inputHouseBtn {
  position: absolute;
  right: 14px;
  bottom: 13px;
  background-color: #d6d6d6;
}

.entranceInput {
  @include input-style;
  width: 100%;
}

.entranceInputBtn {
  position: absolute;
  right: 14px;
  bottom: 13px;
  background-color: #d6d6d6;
}

.fieldWrapperFlat {
  max-width: 173px;
  width: 100%;
}

.flatInput {
  @include input-style;
  width: 100%;
}

.inputFlatBtn {
  position: absolute;
  right: 14px;
  bottom: 13px;
  background-color: #d6d6d6;
}

.flatInputImg {
  display: block;
}

.textError {
  margin-left: 6px;
  font-size: 12px;
  line-height: 1.2;
  color: #ff4d4f;
}

.inputError {
  border: 1px solid #ff4d4f;
}
