@use "@basestyles/base/mixins.scss" as *;

.title {
  font-weight: 600;
  font-size: 20px;
  max-width: 934px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.checkout {
  display: flex;
  gap: 30px;
  max-width: 934px;
  margin: 0 auto;
  margin-bottom: 112px;
}

.result {
  max-width: 450px;
  width: 100%;
}
