@use "@basestyles/base/mixins.scss" as *;

.languageItem {
  flex: 1;
  font-size: 15px;
  color: var(--color-text);
  background-color: #fff;
  font-family: inherit;
  font-weight: 500;
  background-color: var(--color-footer-bg);

  &:hover {
    @include language-hover;
  }
}
