@use "@basestyles/base/mixins.scss" as *;

.languageItem {
  flex: 1;
  font-size: 15px;
  color: #101010;
  background-color: #fff;
  font-family: inherit;
  font-weight: 500;

  &:hover {
    @include language-hover;
  }
}
