.header {
  margin-bottom: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content {
  display: flex;
  gap: 65px;
}

.list {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.listWrapper {
  position: relative;
}

.wrapperHeader {
  display: flex;
  align-items: center;
  gap: 5px;
}

.wrapperDesc {
  font-weight: 500;
  font-size: 15px;
}

.arrowMain {
  transition: transform 0.3s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}

.btn {
  display: flex;
  gap: 25px;
  align-items: center;
  position: relative;
}

.btnHeartValue {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  border-radius: 100%;
  background-color: #ffa542;
  padding: 0 5px;
  position: absolute;
  bottom: 10px;
  right: 40px;
}

// Список моделей телефонов
.modelsList {
  border: 1px solid #000;
  padding: 19px 27px;
  border-radius: 0 0 30px 30px;
  position: absolute;
  position: absolute;
  max-width: 100%;
  width: 100%;
  background-color: #eaeaea;
  z-index: 1;
}

.modelsListNone {
  display: none;
}

.modelsListContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.brandList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  background-color: #eaeaea;
  font-family: inherit;
  margin-bottom: 12px;
}

.brandName {
  font-weight: 500;
  font-size: 17px;
}

.models {
  font-weight: 500;
  font-size: 15px;
  margin-left: 19px;
}
