@use "@basestyles/base/mixins.scss" as *;
@use "@basestyles/base/variables.scss" as *;

.covers {
  margin-bottom: 30px;
}

.title {
  @include block-title;
}

.flex {
  display: flex;
  gap: 30px;
}
