@use "../../styles//base/mixins.scss" as *;

.title {
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 20px;
}

.cardMargin {
  margin-bottom: 50px;
}

.headphonesTitle {
  @include block-title;
  margin-bottom: 47px;
}

.headphonesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.wirelessTitle {
  @include block-title;
}
