@use "@basestyles/base/mixins.scss" as *;

.recipientPhone {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 13px;
  padding-right: 14px;
  border-radius: 30px;
  margin-bottom: 28px;

  &:hover {
    @include card-hover;
    cursor: auto;
  }
}

.recipientPhoneForm {
  display: flex;
  flex-direction: column;
}

.recipientPhoneTitle {
  font-weight: 600;
  font-size: 17px;
  color: #000;
  margin-bottom: 20px;
}

.recipientPhoneInfo {
  position: relative;
}

.recipientPhoneValue {
  max-width: 100%;
  width: 100%;
  @include input-style;
}

.editBtn {
  position: absolute;
  right: 14px;
  bottom: 13px;
  background-color: #d6d6d6;
}

.textError {
  margin-left: 6px;
  font-size: 12px;
  line-height: 1.2;
  color: #ff4d4f;
}
