.title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 24px;
}

.loginForm {
  background-color: #fff;
  padding: 40px;
  border-radius: 30px;
  width: 100%;
}

.loginFormTitle {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 24px;
}

.loginFormForgotPassword {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #838383;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

.loginFormHint {
  font-size: 14px;
  color: #838383;
}

.serverError {
  padding: 10px 12px;
  border-radius: 8px;
  background-color: #ffecec;
  color: #d93025;
  font-size: 14px;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
