@use "@basestyles/base/mixins.scss" as *;

.footer {
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  padding: 30px;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  gap: 175px;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoTerms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.termsDesc {
  display: block;
  font-size: 17px;
  color: #000;

  &:hover {
    @include text-hover;
  }
}

.language {
  display: flex;
}

.languageBtn {
  background-color: #fff;
}

.social {
  display: flex;
  gap: 17px;
  max-height: 30px;
  align-items: center;
}
