@use "@basestyles/base/mixins.scss" as *;

.payment {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 13px;
  padding-right: 14px;
  border-radius: 30px;
  margin-bottom: 20px;

  &:hover {
    @include card-hover;
    cursor: auto;
  }
}

.paymentTitle {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  margin-bottom: 17px;
}

.paymentMethods {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.paymentMethod {
  display: flex;
  max-width: 374px;
  width: 100%;
}

.paymentIcon {
  margin-right: 8px;
}

.paymentText {
  font-weight: 500;
  font-size: 15px;
  color: #000;
}

.paymentBtn {
  background-color: #fff;
}

.promoCode {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.promoCodeInfo {
  display: flex;
}

.promoCodeIcon {
  margin-right: 11px;
}

.promoCodeValue {
  font-weight: 500;
  font-size: 15px;
  color: #838383;
  border: none;
  outline: none;
}

.promoCodeBtn {
  background-color: #fff;
  margin-right: 5px;
}
