@use "./fonts.scss" as *;
@use "./variables.scss" as *;

html {
  height: 100%;
}

body {
  font-family: $font-main;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.theme-light {
  --color-bg: #eaeaea;
  --color-text: #1c1c27;
  --color-title: #838383;
  --color-card: #ffffff;
  --color-banner-bg: #101010;
  --color-block-title: #838383;
  --color-card-svg: #ffffff;
  --color-card-svg-active: #1c1c27;
  --color-card-rating: #838383;
  --color-footer-bg: #fff;
  --color-model-button-bg: #eaeaea;
}

.theme-dark {
  --color-bg: #1f1f1f;
  --color-text: #f5f5f5;
  --color-title: #a8a8a8;
  --color-card: #2a2a2a;
  --color-banner-bg: #26282c;
  --color-block-title: #c2c2c2;
  --color-card-svg: #2a2a2a;
  --color-card-svg-active: #ffffff;
  --color-card-rating: #c2c2c2;
  --color-footer-bg: #262626;
  --color-model-button-bg: #1f1f1f;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
