@use "./fonts.scss" as *;
@use "./variables.scss" as *;

html {
  height: 100%;
}

body {
  font-family: $font-main;
  background-color: $color-bg;
  color: $color-text;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
