@mixin block-title {
  color: #838383;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}

@mixin card-price {
  font-weight: 600;
  font-size: 17px;
  color: #ffa542;
}

@mixin card-hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@mixin btn-hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@mixin card-title {
  font-weight: 600;
  font-size: 17px;
  color: #1c1c27;
  margin-bottom: 25px;
}

@mixin card-rating {
  font-weight: 600;
  font-size: 17px;
  color: #838383;
}

@mixin card-rating-star {
  color: #ffce7f;
}

@mixin value-sale {
  font-size: 19px;
  color: #df6464;
}

@mixin card-heart {
  position: absolute;
  top: 14px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  left: 22px;
}

@mixin text-hover {
  color: #ffa542;
}

@mixin language-hover {
  color: #ffa542;
  font-weight: 700;
}

@mixin full-height {
  height: 100%;
}
@mixin container-flex {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
@mixin main-flex {
  flex: 1 1 auto;
}

@mixin input-style {
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 13px;
  border-radius: 15px;
  border: none;
  background-color: #d6d6d6;
  font-size: 15px;
  outline: none;
}
