@use "@basestyles/base/mixins.scss" as *;

.headphones,
.wireless {
  margin-bottom: 50px;
}

.title {
  @include block-title;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
